[mysql]
host=127.0.0.1
user=appUser
password=my5qL@2021
database=mymart

[customer-insert]
sql-insert=INSERT INTO customers (name, address) VALUES (%s, %s)

[customer-update]
sql-update=UPDATE customers SET ADDRESS=%s WHERE NAME=%s

[customer-delete]
sql-delete=delete from customers WHERE NAME=%s

[customer-get]
get_sp = get_customers